.btn--reddit {
  background-color: #ff4500;
  color: #fff
}

.btn--reddit:visited {
  background-color: #ff4500;
  color: #fff
}

.btn--reddit:hover {
  background-color: #cc3700;
  color: #fff
}

.btn--x-twitter {
  background-color: #171516;
  color: #fff
}

.btn--x-twitter:visited {
  background-color: #171516;
  color: #fff
}

.btn--x-twitter:hover {
  background-color: #121112;
  color: #fff
}

.btn--threads {
  background-color: #171516;
  color: #fff
}

.btn--threads:visited {
  background-color: #171516;
  color: #fff
}

.btn--threads:hover {
  background-color: #121112;
  color: #fff
}