{% assign onclick = "window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" %}
{% assign sharetitle = site.data.ui-text[site.locale].share_on_label | default: 'Share on' | append: ' X' %}
{% assign posttitle = page.title | urlencode %}
{% assign posturl = page.url | absolute_url | urlencode %}
<a href="https://x.com/intent/post?text={{ posttitle }}%20{{ posturl }}" class="btn btn--x-twitter" onclick="{{ onclick }}" title="{{ sharetitle }}">
  <i class="fab fa-fw fa-x-twitter" aria-hidden="true"></i>
</a>
